*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: space-between;
    padding: 22px 12%;
}

.logo img {
    border-radius: 10px;
    max-width: 100%;
    width: 115px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu li {
    position: relative;
}

.navmenu li a {
    color: #212832;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 25px;
    transform: all .42s;
}

.navmenu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #212832;
    bottom: -2px;
    left: 0;
    transition: all .42s;
}

.navmenu li a:hover::after {
    width: 100px;
}