*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    padding: 22px 12%;
}

.logo img {
    border-radius: 10px;
    max-width: 100%;
    width: 115px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu li {
    position: relative;
}

.navmenu li a {
    color: #212832;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 25px;
    transform: all .42s;
}

.navmenu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #212832;
    bottom: -2px;
    left: 0;
    transition: all .42s;
}

.navmenu li a:hover::after {
    width: 100px;
}

.btn-icon {
    display: flex;
    align-items: center;
}

.nav-btn {
    font-size: 17px;
    color: #212832;
    font-weight: 500px;
    border: 2px solid #212832;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all .42s;
}

.nav-btn:hover {
    background-color: #212832;
    color: #fff;
}

#menu-icon {
    font-size: 35px;
    color: #212832;
    cursor: pointer;
    display: none;
}

section {
    padding: 60px 12px;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(../drehSpensa/IMG-20240311-WA0012.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.home-img img {
    max-width: 100%;
    width: 800px;
    height: auto;
}

.home-text h4 {
    color: #d46951;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.home-text h1 {
    color: #181e48;
    font-size: 65px;
    font-family: 'Volkhov';
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    margin-bottom: 18px;
}

.home-text p {
    color: #5e6282;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}
    
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center; 
}

.btn1 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #fff; /*come back later */
    text-transform: capitalize;
    padding: 10px 20px;
    background: #f1a501;
    border-radius: 10px;
    margin-right: 40px;
    transition: all .42s;
}

.btn1:hover:hover {
    transform: translateY(-5px);
}

.btn2 {
    color: #686d77;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn2 span i {
    width: 52px;
    height: 52px;
    background: #df6951;
    color: #fff;
    display: inline-flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    margin-right: 15px;
    transition: all .42s;
}

.btn2 span i:hover {
  background: transparent;  
  color:#212832;
}

/* sticky design */

header.sticky {
    background-color: #fff1da;
    padding: 22px 12%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    transition: .43s;
}

/* -----Category section----- */

.center-text {
    text-align: center;
}

.center-text h4 {
    font-size: 18px;
    color: #5e6282;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
}

.center-text h2 {
    font-size: 50px;
    color: #14183e;
    text-transform: capitalize;
    font-family: 'Volkhov';
    margin-bottom: 90px;
}

.cate-pro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 2rem;
    text-align: center;
}

.row {
    padding: 60px 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: all .42s;
}

.row img {
    width: 75px;
    height: auto;
    margin-bottom: 20px;
}

.row h5 {
    font-size: 16px;
    color: #1e1d4c;
    font-weight: 600;
    margin-bottom: 15px;
}

.row p {
    color: #5e6282;
    font-size: 14px;
    font-weight: 500px;
}